* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 1.3;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 1.2;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.menu li {
  padding: 0 20px;
  position: relative;
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 10px 0;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu li a:hover {
  color: #088178;
}

.menu li a:hover,
.menu li a.active {
  color: #088178;
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.hero {
  background-image: url("../img/bg2.avif");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero h4 {
  padding-bottom: 15px;
}

.hero h1 {
  color: #088178;
}

.hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feature .feature-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

.feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature .feature-box img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.feature .feature-box h6 {
  padding: 9px 8px 6px 8px;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
