* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 1.3;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 1.2;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.menu li {
  padding: 0 20px;
  position: relative;
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 10px 0;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu li a:hover {
  color: #088178;
}

.menu li a:hover,
.menu li a.active {
  color: #088178;
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.hero {
  background-image: url("../img/bg2.avif");
  height: 90vh;
  width: 100%;
  /* background-position: top 25% right 0; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px 20px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero h4 {
  padding-bottom: 15px;
}

.hero h1 {
  color: #088178;
}

.hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #088178;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.feature .feature-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

.feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.feature .feature-box img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.feature .feature-box h6 {
  padding: 9px 8px 6px 8px;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

/* product */
.product1 {
  text-align: center;
  position: relative;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 1.2rem;
}

.product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro img {
  width: 100%;
  border-radius: 10px;
}

.product1 .pro .description {
  text-align: start;
  padding: 10px 0;
}

.product1 .pro .description span {
  color: #606063;
  font-size: 13px;
  text-transform: uppercase;
  font-family: cursive;
}

.product1 .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .pro .description i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product1 .pro .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088176;
}

.product1 .pro .fa-shopping-cart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  color: #088178;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.pro-container2 {
  flex-wrap: wrap;
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../img/shoe1.avif");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.banner h2 {
  font-size: 30px;
  padding: 10px 0;
}

.banner h2 span {
  color: #ef3636;
}

.banner button {
  border: 2px solid #fff;
  border-radius: 8px;
}

.banner button:hover {
  background-color: #088178;
  color: #fff;
}

/* sm-banner */
.sm-banner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  /* flex-wrap: wrap; */
}

.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../img/shoe9.avif");
  background-position: center;
  background-size: cover;
  /* min-width: 650px; */
  width: 100%;
  height: 50vh;
  padding: 30px;
}

.sm-banner .banner-box2 {
  background-image: url("../img/shoe7.avif");
}

.sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

.sm-banner .banner-box:hover button.white {
  background-color: #088178;
}

/* banner3 */
.banner3 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 80px;
}

.banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
  height: 30vh;
  background-image: url("../img/shoe5.avif");
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
}

.banner3 .banner-box2 {
  background-image: url("../img/shoe10.avif");
  background-position: center;
  background-size: cover;
}

.banner3 .banner-box3 {
  background-image: url("../img/shoe8.avif");
  background-position: center;
  background-size: cover;
}

.banner3 .banner-box h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

.banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

/* newsletter */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: url(""); */
  background-color: #031e43;
  background-position: 20% 30%;
  background-repeat: no-repeat;
}

.newsletter h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

.newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

.newsletter p span {
  color: #ffbd27;
}

.newsletter input {
  padding: 0.8rem;
  font-size: 14px;
  /* width: 100%; */
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  display: inline-block;
}

.newsletter button {
  padding: 0.8rem;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  background-color: #088176;
  color: #fff;
  white-space: no-wrap;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form {
  display: flex;
  align-items: center;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.phone {
  text-decoration: none;
  color: #000;
}

.help a,
.terms a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.col h4 {
  margin-bottom: 1.3rem;
}

/* fot the slider */
.prev,
.next {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
  transform: translateY(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.prev {
  left: 15px;
}
.next {
  right: 15px;
}
